body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
    box-sizing: border-box;
    
}

main {
 padding: 35px;
 border-radius: 10%;
}

header{
    display: flex;
    justify-content: space-around;
    color: #e4f5f5;
    background-color: #442424;
    text-align: left ;
}

a {
color: #e4f5f5 ;
}

li{
padding: 10px;
}

.profile-title-name {
border-bottom: outset;
border-color: #e4f5f5;
}


.profile-contacts{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 60px;
    text-indent: -150px; 
    text-align: left;
    position: absolute;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #e4f5f5;
    
}

.photo img{
padding: 30px;
}

.profile-contacts h1{
    margin: 10px;
}

.main-title-summary{
font-size: 18px;
padding: 10px;
border-bottom: outset;
border-color: #442424;
}

.main-title-skills{
font-size: 18px;    
padding: 10px;
border-bottom: outset;
border-color: #442424;
}

.main-title-exp{
font-size: 18px;
padding: 10px;
border-bottom: outset;
border-color: #442424;
}

.main-title-education{
font-size: 18px;
padding: 10px;
border-bottom: outset;
border-color: #442424;
}

.main-title-english{
font-size: 18px;
padding: 10px;
border-bottom: outset;
border-color: #442424;
}

.main-info-summary {
padding: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-info-skills {
padding: 20px;
font-family: 'Lucida Sans', sans-serif;
}

.main-info-exp {
padding: 20px;
font-family: 'Lucida Sans', sans-serif;
}

.main-info-education {
padding: 20px;
font-family: 'Lucida Sans', sans-serif;
}

.main-info-english {
padding: 20px;
font-family: 'Lucida Sans', sans-serif;
}

footer {
color: #e4f5f5 ;
padding: 15px;
font-size: 20px;
font-weight: 500;
font-family: 'TimesNewRoman';
text-align: right;
background-color: #442424;
}
